<h6 class="intro_title"><%= raw(I18n.t "home.title.intro") %></h6>
<div id="homeintro">
  <div class="homeintro">
    <p><%= I18n.t "home.intro.description" %></p>	
    <a href="../aboutus/about-video3.php">
      <img src="<%= asset_path "ps_home_video_btn_02.png" %>" border="0" align="middle" class="1">
    </a>
  </div>
</div>