<h2 style="margin-bottom: 0">Volunteer</h2>
<div id="homeboxes">
  <div class="homeboxes">
    <img src="<%= asset_path "ps_image_home_vol.jpg" %>" align="left" class="2">
    <p style="margin-bottom: 0"><b>Volunteers are the heart of Project Sunshine.</b> 
      People of all ages can bring sunshine to the children and families that we serve. 
      <a href="information.php">Volunteer Now!</a>
    </p>
  </div>
</div>                        