<div id="fader" style="position: relative;">
  <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6; opacity: 0; width: 290px; height: 230px;">
    <img src="/images/homepageanimation/ps_home_image1.jpg">
  </div>
  <div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 7; opacity: 1; width: 290px; height: 230px;">
    <img src="/images/homepageanimation/ps_home_image2.jpg">
  </div>
  <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6; opacity: 0; width: 290px; height: 230px;">
    <img src="/images/homepageanimation/ps_home_image3.jpg">
  </div>
  <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6; opacity: 0; width: 290px; height: 230px;">
    <img src="/images/homepageanimation/ps_home_image4.jpg">
  </div>
  <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6; opacity: 0; width: 290px; height: 230px;">
    <img src="/images/homepageanimation/ps_home_image5.jpg">
  </div>
  <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6; opacity: 0; width: 290px; height: 230px;">
    <img src="/images/homepageanimation/ps_home_image6.jpg">
  </div>
</div>