<table class="menu" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="colored">
        <img src="images/place.gif" width="10" height="15"></td>
    </tr>
    <tr>
      <td>
        <a href="aboutus/index.php"><img src="images/menu-aboutus.gif" width="176" height="28" border="0"></a>
      </td>
    </tr>
    <tr>
      <td class="colored">
        <img src="images/place.gif" width="10" height="15">
      </td>
    </tr>
    <tr>
      <td>
        <a href="programs/index.php"><img src="images/menu-programs.gif" width="176" height="40" border="0"></a>
      </td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="waystogive/index.php"><img src="images/menu-waystogive.gif" width="176" height="32" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="12"></td>
    </tr>
    <tr>
      <td><a href="events/index.php"><img src="images/menu-events.gif" width="176" height="39" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="volunteer/index.php"><img src="images/menu-volunteer.gif" width="176" height="28" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="news/index.php"><img src="images/menu-press.gif" width="176" height="32" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="gallery.php"><img src="images/menu-photos.gif" width="176" height="32" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="10"></td>
    </tr>
    <tr>
      <td class="colored"><a href="store.php"><img src="images/menu-shop.gif" width="176" height="46" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="images/place.gif" width="10" height="10"></td>
    </tr>
    <tr>
      <td class="colored">
        <center>
          <img src="images/seal.gif">
        </center>
      </td>
      
    </tr>
  </tbody>
</table>