<div id="homeleft">
  <div id="homenews2">
    <img src="images/img_ps_home_events_10thannual_recap.jpg" alt="10th Annual Benefit Celebration" border="0" hspace="0" vspace="0">
    <p style="margin-bottom: 0">
      <font style="font:Arial, Helvetica, sans-serif; font-weight:bold; color:#006699;">
        Event Recap: Tenth Annual Benefit Celebration</font><br>
        Project Sunshine celebrated its Tenth
        Annual Benefit Celebration, honoring Dionne Warwick, 
        on May 2, 2013 at Cipriani 42nd Street in New York City.<br>
        <a href="http://www.projectsunshine.org/events/050213_event_2013benefit_recap.php?campname=2013annualbenefit&amp;camplink=homepage-link">Click for more details</a>
      </p> 
    </div>
  </div>
  <div id="homemid">
    <div id="homenews2">
      <img src="images/ps_home_events_golfclassic13.jpg" alt="2013 Annual Golf Classic" border="0" hspace="0" vspace="0">
      <p style="margin-bottom: 0">
        <font style="font:Arial, Helvetica, sans-serif; font-weight:bold; color:#006699;">
          2013 Golf Classic
        </font>
        <br>
        Save the Date for Project Sunshine’s Third Annual Golf Classic, to be held on September 23, 2013 at Century Country Club in
        Purchase, NY.
      </p> 
    </div>
  </div>
  <div id="homeright">
    <div id="homenews2">
      <img src="images/img_ps_home_spotlight_043013.jpg" border="0" hspace="0" vspace="0" alt="Project Sunshine Volunteer - Austin Armstrong">
      <p>
        <font style="font:Arial, Helvetica, sans-serif; font-weight:bold; color:#006699;">
          Volunteer Spotlight
        </font>
        <br>
        Find out how Austin Armstrong, a Project Sunshine Canada Volunteer, gives back through the Young Patrons’ Circle.
        <br> 
        <a href="volunteer/043013-volunteer-spotlight-austin-armstrong.php">Read the full story</a>
      </p> 
      <p>
        <a href="../volunteer/vol-spotlight.php">View all volunteer spotlights</a></p>
        <br>
      </div>    
    </div>                     