<form class="sign_up" name="ccoptin" action="javascript:void(0);" method="post" style="">
	<input type="hidden" name="m" value="1101807378046">
	<input class="email_hidden" type="hidden" name="p" value="oi">
	<font><%= I18n.t "head.sign_up.label" %></font> 
	<input class="email" type="text" name="ea" value="">&nbsp;
	<input type="submit" name="go" value="Go" class="submit">&nbsp;&nbsp;
</form>