<h2 style="margin-bottom: 0">Donate</h2>
<div id="homeboxes">
	<div class="homeboxes">
		<img src="images/ps_image_home_waystogive.jpg" align="left" class="2">
		<p style="margin-bottom: 0">
			<b>Project Sunshine needs your support now more than ever</b>. 
			Help us continue providing free programs to children who face medical challenges and their families. 
			<a href="waystogive/index.php">Donate Now!</a>
		</p>
	</div>
</div>                       
